# 問題與細節

## 問題：
預測該男性目前是否單身？ 是 1、否 0

## 特徵：
* 年齡：18 ~ 30
* 身高：160 ~ 200 cm
* 體重：50 ~ 110 kg
* 學歷：高中 1、學士 2、碩士 3、博士 4
* 有無近視：有 1、無 0
* 有無交往過：有 1、無 0
* 平均月收入：0 ~ 100000 NT
* 平均每周運動時數：0 ~ 25 hr

In [1]:
import pandas as pd
import numpy as np
from numpy.random import randint

In [36]:
size = 1000
data = pd.DataFrame(index=np.arange(size))
data['single'] = randint(0, 2, size)
data['age'] = randint(18, 31, size)
data['height'] = randint(160, 201, size)
data['weight'] = randint(50, 110, size)
data['education'] = randint(1, 5, size)
data['nearsighted'] = randint(0, 2, size)
data['dated'] = randint(0, 2, size)
data['income'] = randint(0, 100001, size)
data['exercise'] = randint(0, 26, size)

data.head()

,single,age,height,weight,education,nearsighted,dated,income,exercise
0,1,21,196,67,1,0,0,51346,2
1,1,23,182,101,3,1,1,39491,10
2,1,24,196,85,4,1,0,39072,14
3,1,28,176,69,4,0,1,85635,21
4,0,28,168,54,3,0,1,35679,4

## 規則：

### 非單身：
1. 年齡 <= 25 且 身高 > 190
2. 年齡 <= 20 且 體重 < 60 且 近視 0
3. 年齡 <= 22 且 平均月收入 > 35000
4. 身高 >= 180 且 體重 70 ~ 80
5. 身高 >= 175 且 學歷 >= 3
6. 學歷 >= 3 且 交往過 1
7. 學歷 >= 3 且 近視 0
8. 近視 0 且 交往過 1
9. 近視 0 且 平均每周運動時數 >= 10
10. 交往過 0 且 平均月收入 >= 50000
11. 平均月收入 >= 80000
12. 平均每周運動時數 >= 20

刪除符合卻單身的資料

In [37]:
# 年齡 <= 25 且 身高 > 190
mask1 = data['single'] == 1
mask2 = data['age'] <= 25
mask3 = data['height'] >= 190
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 年齡 <= 20 且 體重 < 60 且 近視 0
mask1 = data['single'] == 1
mask2 = data['age'] <= 20
mask3 = data['weight'] <= 60
mask4 = data['nearsighted'] == 0
temp = data[mask1 & mask2 & mask3 & mask4]
print(len(temp))
data.drop(temp.index, inplace=True)

# 年齡 <= 22 且 平均月收入 > 35000
mask1 = data['single'] == 1
mask2 = data['age'] <= 22
mask3 = data['income'] >= 35000
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 身高 >= 180 且 體重 70 ~ 80
mask1 = data['single'] == 1
mask2 = data['height'] >= 180
mask3 = (data['weight'] >= 70) & (data['weight'] <= 80)
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 身高 >= 175 且 學歷 >= 3
mask1 = data['single'] == 1
mask2 = data['height'] >= 175
mask3 = data['education'] >= 3
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 學歷 >= 3 且 交往過 1
mask1 = data['single'] == 1
mask2 = data['education'] >= 3
mask3 = data['dated'] == 1
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 學歷 >= 3 且 近視 0
mask1 = data['single'] == 1
mask2 = data['education'] >= 3
mask3 = data['nearsighted'] == 0
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 近視 0 且 交往過 1
mask1 = data['single'] == 1
mask2 = data['nearsighted'] == 0
mask3 = data['dated'] == 1
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 近視 0 且 平均每周運動時數 >= 10
mask1 = data['single'] == 1
mask2 = data['dated'] == 0
mask3 = data['exercise'] >= 10
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 交往過 0 且 平均月收入 >= 50000
mask1 = data['single'] == 1
mask2 = data['dated'] == 0
mask3 = data['income'] >= 50000
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 平均月收入 >= 80000
mask1 = data['single'] == 1
mask2 = data['income'] >= 80000
temp = data[mask1 & mask2]
print(len(temp))
data.drop(temp.index, inplace=True)

# 平均每周運動時數 >= 20
mask1 = data['single'] == 1
mask2 = data['exercise'] >= 20
temp = data[mask1 & mask2]
print(len(temp))
data.drop(temp.index, inplace=True)

82
8
86
26
79
42
19
42
59
9
12
11

後面數字越大，表示有越多模糊的規則，通常是範圍較大的特徵所致

### 單身：
1. 年齡 >= 26 且 學歷 1 且 近視 1
2. 身高 <= 170 且 體重 >= 80
3. 身高 <= 170 且 學歷 1
4. 體重 >= 100 且 平均月收入 <= 70000
5. 近視 1 且 平均每周運動時數 <= 5
6. 交往過 0 且 平均月收入 <= 30000
7. 平均月收入 <= 20000
8. 平均每周運動時數 <= 1

刪除符合卻非單身的資料

In [38]:
# 年齡 >= 26 且 學歷 1 且 近視 1
mask1 = data['single'] == 0
mask2 = data['age'] >= 26
mask3 = data['nearsighted'] == 1
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 身高 <= 170 且 體重 >= 80
mask1 = data['single'] == 0
mask2 = data['height'] <= 170
mask3 = data['weight'] >= 80
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 身高 <= 170 且 學歷 1
mask1 = data['single'] == 0
mask2 = data['height'] <= 170
mask3 = data['education'] == 1
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 體重 >= 100 且 平均月收入 <= 70000
mask1 = data['single'] == 0
mask2 = data['weight'] >= 100
mask3 = data['income'] <= 70000
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)
    
# 近視 1 且 平均每周運動時數 <= 5
mask1 = data['single'] == 0
mask2 = data['nearsighted'] == 0
mask3 = data['exercise'] <= 5
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 交往過 0 且 平均月收入 <= 30000
mask1 = data['single'] == 0
mask2 = data['dated'] == 0
mask3 = data['income'] <= 30000
temp = data[mask1 & mask2 & mask3]
print(len(temp))
data.drop(temp.index, inplace=True)

# 平均月收入 <= 20000
mask1 = data['single'] == 0
mask2 = data['income'] <= 20000
temp = data[mask1 & mask2]
print(len(temp))
data.drop(temp.index, inplace=True)

# 平均每周運動時數 <= 1
mask1 = data['single'] == 0
mask2 = data['exercise'] <= 1
temp = data[mask1 & mask2]
print(len(temp))
data.drop(temp.index, inplace=True)

90
50
15
34
30
39
17
11

數字越大，表示前面單身部分無法有效過濾掉

In [41]:
print('有效資料比率', len(data) / size)
print('剩餘資料', len(data))

有效資料比率 0.239
剩餘資料 239

In [40]:
data.reset_index(drop=True, inplace=True)
data.head(10)

,single,age,height,weight,education,nearsighted,dated,income,exercise
0,0,29,184,62,4,0,0,72831,6
1,1,26,160,59,1,1,1,54367,9
2,0,19,189,96,4,0,1,80958,6
3,1,24,177,67,2,0,0,29879,2
4,0,22,166,59,3,1,0,68934,16
5,0,23,181,56,4,1,1,70390,18
6,0,19,186,90,1,0,0,57627,16
7,0,30,189,98,3,0,1,91157,19
8,0,20,175,109,3,1,1,71631,8
9,0,24,177,94,3,0,1,85957,6